# GRUB Configuration for D-Secure
set timeout=15
set default=0

# ── Graphics setup ──────────────────────────────
insmod all_video
insmod gfxterm
insmod png
insmod font
insmod unicode

# Set resolution
set gfxmode=1024x768x32,auto
set gfxpayload=keep
terminal_output gfxterm

# Load Font for Theme
loadfont /boot/grub/themes/d-secure/dejavu16.pf2
loadfont /boot/grub/themes/d-secure/dejavu24.pf2

# Load Theme
set theme=/boot/grub/themes/d-secure/theme.txt

# ── Menu Entries ────────────────────────────────

menuentry "D-Secure Drive Eraser" {
    linux /boot/vmlinuz64 acpi=off noapic nolapic console=tty0 console=ttyS0,115200 quiet loglevel=3 base intel_idle.max_cstate=0 idle=poll noswap laptop logo.nologo nologo
    initrd /boot/core_custom.gz /boot/modules64.gz
}

menuentry "Reboot" {
    reboot
}

menuentry "Shutdown" {
    halt
}
